<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
            <h1>Encriptador</h1>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dicta exercitationem inventore quo. Numquam, laborum voluptatum. Ea, odio non asperiores eius suscipit, itaque aliquam quasi, cum accusamus excepturi consequuntur tenetur!</p>

            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/encriptar.jpg" class="img-fluid img-proyecto">

        </div>

    </div>



</div>
